.DS_Store
*/target/
target/
.settings/
*/.classpath
*/.project
*.iml
.classpath
.idea
.project
transport.log
*pom.xml.versionsBackup
dev.properties
packages/rpm/RPMS
packages/rpm/SRPMS
packages/rpm/BUILD
packages/rpm/BUILDROOT
